// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "~bootstrap/scss/functions";

// Override default variables before the import
$body-bg: #0d1821;
$body-color: #c5decd;
$primary: #0d1821;
$secondary: #416788;
$success: #2c6e49;
$info: #bbb5bd;
$warning: #f96e46;
$danger: #dd0426;
$light: #a0cbf3;
$dark: #191919;

$input-btn-padding-y-lg: 1rem;
$input-btn-padding-x-lg: 5rem;
$input-padding-y-lg: $input-btn-padding-y-lg;
$input-padding-x-lg: $input-btn-padding-x-lg;
$input-btn-font-size-lg: 1.5rem;
$input-font-size-lg: $input-btn-font-size-lg;
$input-height-border: 0rem;

$btn-font-size-sm: 0.5rem;
$btn-padding-x: 0;
$btn-padding-y: 0;

$form-text-color: $primary;
$form-label-color: $primary;

$form-file-button-color: $primary;
$form-file-button-bg: $light;
$form-file-button-hover-bg: $success;

$form-range-track-bg: $info;
$form-range-thumb-width: 1rem;
$form-range-thumb-height: 1.25rem;
$form-range-thumb-bg: $secondary;

$font-size-base: 1rem;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$table-cell-padding-y-sm: 0;
$table-cell-padding-x-sm: 1rem;
$table-hover-bg-factor: 0.01;

$my-display-font-sizes: (
  7: 2rem,
  8: 1.5rem,
  9: 1.25rem,
  10: 0.5rem,
  11: 0.25rem,
  12: 0.1rem,
);

$my-font-sizes: (
  7: $font-size-base * 0.75,
  8: $font-size-base * 0.5,
  9: $font-size-base * 0.25,
  10: $font-size-base * 0.1,
);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";

$display-font-sizes: map-merge($display-font-sizes, $my-display-font-sizes);
$font-sizes: map-merge($font-sizes, $my-font-sizes);

@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";

@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/helpers";

@import "~bootstrap/scss/bootstrap";
